<form action="/add" method="POST">
    <p>Email</p>
    <input type="text" name="title">
    <p>Senha</p>
    <textarea name="conteudo"></textarea>
    <button type="submit" >Cadastro</button>
</form>